// Animations
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-$unit-8);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes orbit {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateZ(0);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateZ(-360deg);
  }
}

@keyframes rotation {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateX(-180deg) rotateY(245deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateX(-180deg) rotateY(245deg);
  }
}
