//- Core variables and mixins
@import "variables";
@import "mixins";
@import "functions";
@import "spectre";

//- Core variables
$base-rad: 100vh;
$max-rad: 100vh;
$base-distance: 10vh;
$max-distance: 175vh;
$base-period: 5s;
//- Color
$sun-color: #FA6D00;
$mercury-color: #F9AF0E;
$venus-color: #F1B72C;
$earth-color: #538FC1;
$mars-color: #F5805B;
$jupiter-color: #E96B77;
$saturn-color: #E7A155;
$uranus-color: #86E5F8;
$neptune-color: #95B4FB;
$moon-color: #A9D3EE;
//- Radius
$sun-rad: 696000;
$mercury-rad: 2440;
$venus-rad: 6052;
$earth-rad: 6371;
$mars-rad: 3390;
$jupiter-rad: 69911;
$saturn-rad: 58232;
$uranus-rad: 25362;
$neptune-rad: 24622;
$moon-rad: 1737;
//- Distance
$sun-distance: 696;
$mercury-distance: 57909;
$venus-distance: 108160;
$earth-distance: 149600;
$mars-distance: 227990;
$jupiter-distance: 778360;
$saturn-distance: 1433500;
$uranus-distance: 2872400;
$neptune-distance: 4498400;
//- Period
$mercury-period: 0.240846;
$venus-period: 0.615;
$earth-period: 1;
$mars-period: 1.881;
$jupiter-period: 11.86;
$saturn-period: 29.46;
$uranus-period: 84.01;
$neptune-period: 164.8;
$moon-period: 0.0748;

/*! Solar.css | MIT License */
body {
  background: $dark-color;
  color: $gray-color;
  overflow: hidden;
}

.solar-system {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100vw;
}

.solar-orbit {
  border: .05rem solid rgba($gray-color, .05);
  border-radius: 50%;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: border .2s ease-in-out;

  &:hover {
    border: .05rem solid rgba($gray-color, .15);
    z-index: 1000;

    & + .solar-card {
      display: block;
    }
  }

  .solar-object {
    border-radius: 50%;
    display: block;
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(.01);
  }

  // Sun
  &.solar-sun {
    border: 0;
    height: 0;
    width: 0;
    z-index: 100;

    .solar-object {
      background: $sun-color;
      box-shadow: 0 0 200rem rgba($sun-color, .25);
      height: 750vh;
      width: 750vh;
    }
  }

  // Mercury
  &.solar-mercury {
    animation: orbit ($base-period * $mercury-period) linear infinite;
    height: orbit-size($mercury-distance);
    width: orbit-size($mercury-distance);
    z-index: 90;

    .solar-object {
      background: $mercury-color;
      height: object-size($mercury-rad);
      width: object-size($mercury-rad);
    }
  }

  // Venus
  &.solar-venus {
    animation: orbit ($base-period * $venus-period) linear infinite;
    height: orbit-size($venus-distance);
    width: orbit-size($venus-distance);
    z-index: 80;

    .solar-object {
      background: $venus-color;
      height: object-size($venus-rad);
      width: object-size($venus-rad);
    }
  }

  // Earth
  &.solar-earth {
    animation: orbit ($base-period * $earth-period) linear infinite;
    height: orbit-size($earth-distance);
    width: orbit-size($earth-distance);
    z-index: 70;

    .solar-object {
      background: $earth-color;
      height: object-size($earth-rad);
      width: object-size($earth-rad);
    }
  }

  // Mars
  &.solar-mars {
    animation: orbit ($base-period * $mars-period) linear infinite;
    height: orbit-size($mars-distance);
    width: orbit-size($mars-distance);
    z-index: 60;

    .solar-object {
      background: $mars-color;
      height: object-size($mars-rad);
      width: object-size($mars-rad);
    }
  }

  // Jupiter
  &.solar-jupiter {
    animation: orbit ($base-period * $jupiter-period) linear infinite;
    height: orbit-size($jupiter-distance);
    width: orbit-size($jupiter-distance);
    z-index: 50;

    .solar-object {
      background: $jupiter-color;
      height: object-size($jupiter-rad);
      width: object-size($jupiter-rad);
    }
  }

  // Saturn
  &.solar-saturn {
    animation: orbit ($base-period * $saturn-period) linear infinite;
    height: orbit-size($saturn-distance);
    width: orbit-size($saturn-distance);
    z-index: 40;

    .solar-object {
      background: $saturn-color;
      box-shadow: 0 0 0 20rem $dark-color, 0 0 0 40rem rgba($saturn-color, .2), 0 0 0 60rem rgba($saturn-color, .1);
      height: object-size($saturn-rad);
      width: object-size($saturn-rad);
    }
  }

  // Uranus
  &.solar-uranus {
    animation: orbit ($base-period * $uranus-period) linear infinite;
    height: orbit-size($uranus-distance);
    width: orbit-size($uranus-distance);
    z-index: 30;

    .solar-object {
      background: $uranus-color;
      height: object-size($uranus-rad);
      width: object-size($uranus-rad);
    }
  }

  // Neptune
  &.solar-neptune {
    animation: orbit ($base-period * $neptune-period) linear infinite;
    height: orbit-size($neptune-distance);
    width: orbit-size($neptune-distance);
    z-index: 20;

    .solar-object {
      background: $neptune-color;
      height: object-size($neptune-rad);
      width: object-size($neptune-rad);
    }
  }
}

.solar-card {
  display: none;
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.solar-labels {
  bottom: 1rem;
  position: fixed;
}

// Main
.solar-system-header {
  color: $primary-color;
  font-weight: 900;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
  text-decoration: underline;
  top: 0;
  z-index: 10000;

  .solar-brand {
    padding: .25rem;
  }
}

