extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var lang = 'en'
  - var title = 'Solar.css'
  - var description = 'Solar.css'

block content
  .solar-container