extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var lang = 'en'
  - var title = 'Solar.css'
  - var description = 'Solar.css'

block content
  .solar-system-header
    a.solar-brand(href= url, target="_blank") SOLAR.CSS
  .solar-system
    .solar-orbit.solar-sun
      .solar-object
    .solar-card.solar-sun
    .solar-orbit.solar-mercury
      .solar-object
    .solar-card.solar-mercury
    .solar-orbit.solar-venus
      .solar-object
    .solar-card.solar-venus
    .solar-orbit.solar-earth
      .solar-object
        .solar-moon
          .solar-object
    .solar-card.solar-earth
    .solar-orbit.solar-mars
      .solar-object
    .solar-card.solar-mars
    .solar-orbit.solar-jupiter
      .solar-object
    .solar-card.solar-jupiter
    .solar-orbit.solar-saturn
      .solar-object
    .solar-card.solar-saturn
    .solar-orbit.solar-uranus
      .solar-object
    .solar-card.solar-uranus
    .solar-orbit.solar-neptune
      .solar-object
    .solar-card.solar-neptune
    //- Captions
    .solar-captions
      .solar-caption.solar-mercury
        .solar-object
        .solar-name Mercury
      .solar-caption.solar-venus
        .solar-object
        .solar-name Venus
      .solar-caption.solar-earth
        .solar-object
        .solar-name Earth
      .solar-caption.solar-mars
        .solar-object
        .solar-name Mars
      .solar-caption.solar-jupiter
        .solar-object
        .solar-name Jupiter
      .solar-caption.solar-saturn
        .solar-object
        .solar-name Saturn
      .solar-caption.solar-uranus
        .solar-object
        .solar-name Uranus
      .solar-caption.solar-neptune
        .solar-object
        .solar-name Neptune
    //- Cards
    .solar-cards
      .solar-card.solar-sun
        .solar-name Sun
        .card-subtitle Our Star
        .card-head Star type
        .card-body Yellow Dwarf
        .card-head Age
        .card-body ~4.5 billion years
      .solar-card.solar-mercury
        .solar-name Mercury
        .card-subtitle The Swiftest Planet
        .card-head Distance to the Sun
        .card-body 57 909 000 km
        .card-head Average diameter
        .card-body 4 879.4 km
        .card-head Length of year
        .card-body 88 Earth days
      .solar-card.solar-venus
        .solar-name Venus
        .card-subtitle Planetary Hot Spot
        .card-head Distance to the Sun
        .card-body 108 160 000 km
        .card-head Average diameter
        .card-body 12 103.6 km
        .card-head Length of year
        .card-body 225 Earth days
      .solar-card.solar-earth
        .solar-name Earth
        .card-subtitle Our Home Planet
        .card-head Distance to the Sun
        .card-body 149 600 000 km
        .card-head Average diameter
        .card-body 12 756.3 km
        .card-head Length of year
        .card-body 365 Earth days
      .solar-card.solar-mars
        .solar-name Mars
        .card-subtitle The Red Planet
        .card-head Distance to the Sun
        .card-body 227 990 000 km
        .card-head Average diameter
        .card-body 6 792.4 km
        .card-head Length of year
        .card-body 687 Earth days
      .solar-card.solar-jupiter
        .solar-name Jupiter
        .card-subtitle Twice as massive as all the other planets combined
        .card-head Distance to the Sun
        .card-body 778 360 000 km
        .card-head Average diameter
        .card-body 142 984 km
        .card-head Length of year
        .card-body 4 333 Earth days
      .solar-card.solar-saturn
        .solar-name Saturn
        .card-subtitle Jewel of Our Solar System
        .card-head Distance to the Sun
        .card-body 1 433 500 000 km
        .card-head Average diameter
        .card-body 120 536 km
        .card-head Length of year
        .card-body 10 759 Earth days
      .solar-card.solar-uranus
        .solar-name Uranus
        .card-subtitle The Sideways Planet
        .card-head Distance to the Sun
        .card-body 2 872 400 000 km
        .card-head Average diameter
        .card-body 51 118 km
        .card-head Length of year
        .card-body 30 687 Earth days
      .solar-card.solar-neptune
        .solar-name Neptune
        .card-subtitle The Windiest Planet
        .card-head Distance to the Sun
        .card-body 4 498 400 000 km
        .card-head Average diameter
        .card-body 49 528 km
        .card-head Length of year
        .card-body 60 190 Earth days
      