extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var lang = 'en'
  - var title = 'Solar.css'
  - var description = 'Solar.css'

block content
  .solar-system
    .solar-orbit.solar-sun
      .solar-object
    .solar-orbit.solar-mercury
      .solar-object
    .solar-orbit.solar-venus
      .solar-object
    .solar-orbit.solar-earth
      .solar-object
    .solar-orbit.solar-mars
      .solar-object
    .solar-orbit.solar-jupiter
      .solar-object
    .solar-orbit.solar-saturn
      .solar-object
    .solar-orbit.solar-uranus
      .solar-object
    .solar-orbit.solar-neptune
      .solar-object

      